section {
	width: 600px;
	height: 700px;
	background: #e1e2df;
	position: relative;

}
i.fa.fa-sort {
	float: right;
	margin-right: 10px;
	margin-top: 15px;
}
div.one {
	width: 200px;
	height: 50px;
	margin-left: 70px;
	background: white;
	display: inline-block;
	margin-right: 30px;
	margin-top: 30px;
	border-radius: 3px;
}
span#one{
	position: relative;
	font-weight: 600;
	font-size: 14px;
	top: 25%;
	left: 5px;
}
div.two {
	width: 200px;
	height: 50px;
	background: white;
	display: inline-block;
	margin-left: 30px;
	margin-top: 30px;
	border-radius: 3px;
}
span#two {
	position: relative;
	font-weight: 600;
	font-size: 14px;
	top: 25%;
	left: 5px;
}

div.three {
	width: 200px;
	height: 50px;
	margin-left: 70px;
	background: white;
	display: inline-block;
	margin-right: 30px;
	margin-top: 30px;
	border-radius: 3px;
}
span#three {
	position: relative;
	font-weight: 600;
	font-size: 14px;
	top: 25%;
	left: 5px;
}

div.four {
	width: 200px;
	height: 50px;
	background: white;
	display: inline-block;
	margin-left: 30px;
	margin-top: 30px;
	border-radius: 3px;
}
span#four {
	position: relative;
	font-weight: 600;
	font-size: 14px;
	top: 25%;
	left: 5px;
}
div.five {
	width: 200px;
	height: 50px;
	margin-left: 70px;
	background: #e1e2df;
	display: inline-block;
	margin-right: 30px;
	margin-top: 30px;
	border-radius: 3px;
	border: 1px solid gray;
}
span#five {
	position: relative;
	font-weight: 600;
	font-size: 14px;
	top: 25%;
	left: 5px;
}

table {
	height: 400px;
	width: 200px;
	float: right;
	margin-right: 7px;
}
td#one {
	width: 200px;
	height: 50px;
	background: white;
	display: inline-block;
	margin-right: 55px;
	margin-top: 30px;
	border-radius: 3px;
	border: 1px solid #e1e2df;
}
span#clickone {
	position: relative;
	font-weight: 600;
	font-size: 14px;
	top: 25%;
	left: 5px;
}
td#two {
	width: 200px;
	height: 50px;
	background: black;
	display: inline-block;
	margin-right: 55px;
	border: 1px solid #3c3c3c;
}
span#tcone {
	position: relative;
	font-weight: 600;
	font-size: 14px;
	top: 25%;
	left: 5px;
	color: white;
}
td#three {
	width: 200px;
	height: 50px;
	background: black;
	display: inline-block;
	margin-right: 55px;
	margin-top: -1px;
	border: 1px solid #3c3c3c;
}
span#tctwo {
	position: relative;
	font-weight: 600;
	font-size: 14px;
	top: 25%;
	left: 5px;
	color: white;
}
td#four {
	width: 200px;
	height: 50px;
	background: black;
	display: inline-block;
	margin-right: 55px;
	border-radius: 3px;
	margin-top: -1px;
	border: 1px solid #3c3c3c;
}
span#tcthree {
	position: relative;
	font-weight: 600;
	font-size: 14px;
	top: 25%;
	left: 5px;
	color: white;
}


div.six {
	width: 200px;
	height: 50px;
	margin-left: 70px;
	background: white;
	display: inline-block;
	margin-right: 30px;
	margin-top: 30px;
	border-radius: 3px;
	background: #6bd;
	text-align: center;
}
span#six {
	position: relative;
	color: white;
	font-size: 15px;
	font-weight: bold;
	top: 25%;
	letter-spacing: 1px; 
}

div.seven {
	width: 200px;
	height: 50px;
	margin-left: 70px;
	background: white;
	display: inline-block;
	margin-right: 30px;
	margin-top: 30px;
	border-radius: 3px;
	background: #8cb;
	text-align: center;
}

span#seven {
	position: relative;
	color: white;
	font-size: 15px;
	font-weight: bold;
	top: 25%;
	letter-spacing: 1px; 
}


span#iconone {
	position: relative;
	top: 50px;
	left: 70px;
	font-size: 1.1em;
	font-family: Avenir;
	display: inline-block;
}
i#two.fa.fa-circle-o {
	margin-left: 40px;
}

i#three.fa.fa-square-o {
	margin-top: 50px;
}
i#four.fa.fa-circle-o {
	margin-left: 50px;
}
i#five.fa.fa-check-square {
	margin-top: 50px;
}
i#six.fa.fa-check-circle {
	margin-left: 50px;
}


div.search {
	width: 200px;
	height: 50px;
	background: white;
	display: inline-block;
	border-radius: 3px;
	position: relative;
	left: 335px;
	bottom: 100px;
}
span#searchbutton {
	font-weight: 600;
	position: relative;
	top: 14px;
	left: 7px;
}
i.fa.fa-search {
	position: relative;
	left: 125px;
	top: 14px;

}

div.hoverstate {
	width: 200px;
	height: 50px;
	background: white;
	display: inline-block;
	border-radius: 3px;
	position: relative;
	left: 130px;
}
span#hoverstate {
	font-weight: 600;
	position: relative;
	top: 14px;
	left: 7px;
}
i#two.fa.fa-search {
	position: relative;
	left: 93px;
	top: 14px;
}

@media screen and (max-width: 480px) {
	section {
		width: 399px;
		margin: 0px;
	}
	/*----ONE----*/
	div.one {
		width: 120px;
		height: 40px;
		margin-left: 35px;
	}
	div.one:hover {
		box-shadow: 1px 1px 5px black;
	}
	span#one {
		font-size: 11px;
		font-weight: 500px;
		font-family: Xirod;
		left: 20px;
		letter-spacing: 2px;
	}
	/*----TWO----*/
	div.two {
		width: 120px;
		height: 40px;
		margin-left: 43px
	}
	div.two:hover {
		box-shadow: 1px 1px 5px black;
	}
	span#two {
		font-size: 11px;
		font-weight: 500px;
		font-family: xirod;
		left: 10px;
		letter-spacing: 2px;
	}
	i.fa.fa-sort {
		margin-top: 14px;
	}
	/*----THREE----*/
	div.three {
		width: 120px;
		height: 40px;
		margin-left: 35px;
	}
	div.three:hover {
		box-shadow: 1px 1px 5px black;
	}
	span#three {
		font-size: 11px;
		font-weight: 500px;
		font-family: Xirod;
		left: 30px;
	}
	/*----FOUR----*/
	div.four {
		width: 120px;
		height: 40px;
		margin-left: 43px;
	}
	div.four:hover {
		box-shadow: 1px 1px 5px black;
	}
	span#four {
		font-size: 11px;
		font-weight: 500px;
		font-family: xirod;
		left: 15px;
	}
	/*----FIVE----*/
	div.five {
		width: 120px;
		height: 40px;
		margin-left: 35px;
		background-color: #ecb;
	}
	div.five:hover {
		box-shadow: 1px 1px 5px black;
	}
	span#five {
		font-size: 11px;
		font-weight: 500px;
		font-family: Xirod;
		left: 8px;
	}
	/*-----TABLE-----*/
	table {
		width: 120px;
		height: 200px;
	}
	td#one {
		width: 120px;
		height: 40px;
		margin-right: 40px;
	}
	span#clickone {
		font-size: 11px;
		font-weight: 500px;
		font-family: Xirod;
		left: 30px;
	}
	td#two {
		width: 120px;
		height: 40px;
		margin-right: 40px;
	}
	span#tcone {
		font-size: 11px;
		font-weight: 500px;
		font-family: Xirod;
		left: 10px;
	}
	td#three {
		width: 120px;
		height: 40px;
		margin-right: 40px;
	}
	span#tctwo {
		font-size: 11px;
		font-weight: 500px;
		font-family: Xirod;
		left: 10px;
	}
	td#four {
		width: 120px;
		height: 40px;
		margin-right: 40px;
	}
	span#tcthree {
		font-size: 10px;
		font-weight: 500px;
		font-family: Xirod;
		left: 5px;
	}
	/*------SIX------*/
	div.six {
		width: 120px;
		height: 40px;
		margin-left: 35px;
	}
	div.six:hover {
		box-shadow: 1px 1px 5px black;
	}
	span#six {
		font-family: xirod;
		font-size: 13px;
	}
	/*-------SEVEN-------*/
	div.seven {
		width: 120px;
		height: 40px;
		margin-left: 35px;
	}
	div.seven:hover {
		box-shadow: 1px 1px 5px black;
	}
	span#seven {
		font-size: 13px;
		font-family: xirod;
	}
	/*-------ICONS-------*/
	span#iconone {
		left: 35px;
		font-size: 12px;
	}
	i#two.fa.fa-circle-o {
		margin-left: 25px;
	}
	i#four.fa.fa-circle-o {
		margin-left: 33px;
	}
	i#six.fa.fa-check-circle {
		margin-left: 37px;
	}
	/*-------SEARCH-------*/
	div.search {
		width: 120px;
		height: 40px;
		left: 85px;
		bottom: 70px;
	}
	span#searchbutton {
		font-family: xirod;
		font-size: 10px;
		letter-spacing: 1px;
		top: 10px;
	}
	i.fa.fa-search {
		left: 30px;
		top: 11px;
	}
	/*-------LAST BUTTON-------*/
	div.hoverstate {
		width: 120px;
		height: 40px;
		left: -42px;
		bottom: -30px;
	}
	span#hoverstate {
		font-family: xirod;
		font-size: 10px;
		letter-spacing: 1px;
		top: 10px;
		left: 3px;
	}
	i#two.fa-search {
		visibility: hidden;
	}
}
